@font-face {
    font-family: AstroSpace;
    src: url('/font/AstroSpace.ttf'); 
  }
  
  html, body {
    width:  100%;
    height: 100%;
    margin: 0;
  }

  .html{
    margin: 0;
    padding: 0;
  }
  
  body{
    background-image: url(/images/ODUDDV0.jpg);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position-x: -70px;
  }
  
  #game-board canvas {
    background-color: rgb(175, 58, 165);
    display: flex;
    align-content: center;
    margin-top: 1%;
  }
  
  #game-board{
  display: flex;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
  
  }